body {
  font-family: Helvetica, Arial, sans-serif;
  background:#FFF;
  color:#666;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    color:#000;
}

h2, h3, h4, h5, h6 {
    color:#666;
}

.subsection {
	background:#76b0d4;
}